#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border: 0;
  border-color: rgb(141, 141, 141);
  border-style: solid;
  border-bottom-width: 1px;

  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  // img {
  //   width: 2rem;
  // }

  // button {
  //   background: none;
  //   border: none;
  // }

  h1 {
    font-size: 2.5vw;
    font-weight: 600;
  }
}